minidlna works perfectly for me using this:

firewall-cmd --permanent --zone=home --add-source=239.255.255.250
firewall-cmd --permanent --zone=home --add-source=192.168.1.0/24
firewall-cmd --permanent --zone=home --add-service=minidlna

/etc/firewalld/services/minidlna.xml 
<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>minidlna server</short>
  <description>ReadyMedia is server software with the aim of being fully compliant with DLNA/UPnP clients. </description>
  <port protocol="tcp" port="8200"/>
  <port protocol="udp" port="1900"/>
</service>
